@font-face {
  font-family: "Uncut-Sans";
  src: url("../fonts/Uncut-Sans-Variable.ttf");
  font-style: normal;
  font-weight: 100 900;
}

@font-face {
  font-family: "DMSans";
  src: url("../fonts/DMSans-Medium.woff2") format("woff2"),
    url("../fonts/DMSans-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}
