html {
  width: 100vw;
  box-sizing: border-box;
  font-size: calc((100vw / 1440) * 10);
  @include media(">desktop") {
    font-size: 10px;
  }
}

html,
body {
  overscroll-behavior: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  color: $white;
  position: fixed;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.35;
  font-family: $font-sans;
  background: $background;
  font-feature-settings: "case" on;
}
